#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    transition: 3s;
    background-image:url("https://wallpapercrafter.com/sizes/1366x768/159057-Pokmon-tile-cartoon-pattern.jpg");
}
